#assemble_div{
    margin-left: 250px;
    background-color: rgba(0, 0, 0, 0.85);
    width: calc(100% - 250px);
    height: calc(100vh - 70px);
    z-index: 49;
    position: absolute;
}

#avg_assemble {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50%);
    width : 200px;
    height : 200px;
    z-index: 50;
}