/*
Thomas Baudeau / Gregory Bordier / Valentin Gonay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément*
buttons.css : List of buttons
Version 1.5.0
*/


/* Help Button */
.help-btn {
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 5px;
    width: 35px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: none;

    font-family: 'Ubuntu', sans-serif;
}

.btn {
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 10px;
    width: 120px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn::before {
    top: -2px;
    left: 10px;
}

.btn::after {
    bottom: -2px;
    right: 10%;
}

.btn:hover::before {left: 80%;}

.btn:hover::after {right: 80%;}


/* Tool selection button */
.btn2 {
    font-size: 14px;
    height: 35px;
    padding-top: 0;
    margin: 0px;
    width: 250px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.btn2::after,
.btn2::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn2::before {
    top: -2px;
    left: 10px;
}

.btn2::after {
    bottom: -2px;
    right: 10%;
}

.btn2:hover::before {left: 80%;}

.btn2:hover::after {right: 80%;}


/* Action selector button */
.btn3 {
    font-size: 14px;
    height: 35px;
    padding-top: 0;
    margin-top: 5px;
    width: 250px;
    font-family: Roboto;
    background: #1c4c507c;
    border: 1px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.btn3:hover{
    color: #000000;
    background-color: #fbfbfb8c;
}

.btn3::after,
.btn3::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn3::before {
    top: -2px;
    left: 10px;
}

.btn3::after {
    bottom: -2px;
    right: 10%;
}

.btn3:hover::before {left: 80%;}

.btn3:hover::after {right: 80%;}


/* Back to index button */
#back_to_index {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    font-family: Satisfy, cursive;
    background: #1c4c50;
    border: none;
    cursor: pointer;
}

/* Validation Button */
#Validation{
    width: 100px;
    height: 30px;
    font-size: large;
    text-align : center;
}

#error_message{
    color: red;
    font-size: small;
}

/* Style of visugraph */
#bouton_visu{
    top: 250px;
    height: 100%;
    width: 250px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

/* Style of btn-vg(?) */
#btn-vg {margin-top: 5px;}

.button {margin-left: .5em;}

/* Style of input choice button */
.button_input_type{
    margin: 10px;
    height: 25px;
    width: 150px;
    cursor: pointer;
}