/* 
SAUVESTRE Clément / JACQUES Patrick / GOMES Enzo
Définit le style général du site ainsi que celui de chaque plugin
*/

.application {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.cy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
}

.export_canvas {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.zoom {
    position: absolute;
    z-index: 50;
    width : 50px;
    height : 50px;
    cursor: pointer;
}

#zoom_out {
    left : 65px;
}

#download_symbol {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width : 50px;
    height : 50px;
    z-index: 50;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #1c4c50;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1c4c50 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

