/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
Management of the choose image window and checkbox styles
*/

/* Choose images */
#send_img{
  width: 100px;
  height: 30px;
  font-size: large;
}

#send_div{
  text-align: center;
  margin-top: 10px;
}

#choose-mc {
  width: 650px;
  height: 450px;
}

#choose_image{
  margin-left: auto;
  margin-right: auto;
}

.choose-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 50;
}

.modal-choose {
  width: 600px;
  height: auto;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.boxes {
  width: 550px;
  height: 300px;
	margin: auto;
	margin-left: 50px;
  overflow-y: scroll;
}

.boxes::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

.boxes::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #00000086;
}

.boxes::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.boxes::-webkit-scrollbar-corner {
  background-color: transparent;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Ubuntu', sans-serif;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #1c4c50;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border: 2px solid #256474;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Choose group */
#choose_group{
  margin-left: auto;
  margin-right: auto;
}

.choose-group {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  display: none;
  z-index: 50;
}

.group-choose {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  margin-left: 260px;
}

.boxes_grp{
  width: 295px;
  height: 300px;
	margin: auto;
  overflow-y: scroll;
}

#colorWell {
  width: 40px;
}