/*
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
Styles de notre barre de menu 
*/

/*Importation des polices*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
}

.header {
    height: 70px;
    width: 100%;
    background: #1c4c50;
    position: relative;
    z-index: 2;
}

.header_navbar {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_navbar-logo-title {
    color: #fff;
    font-size: 34px;
    font-family: Satisfy, cursive;
}

.header_navbar-toggle {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.header_navbar-toggle-icons,
.header_navbar-toggle-icons:before,
.header_navbar-toggle-icons:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.header_navbar-toggle-icons:before {
    top: 10px;
}

.header_navbar-toggle-icons:after {
    top: -13px;
}

.is-open .header_navbar-menu {
    transform: translateY(0);
}

.header_navbar-menu {
    display: inline-block;
}

.input-file {
    display: none;
}

.input-label {
    font-size:17px;
    font-family: Roboto;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    height: 35px;
}

.btn {
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 10px;
    width: 120px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.help-btn {
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 5px;
    width: 35px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: none;

    font-family: 'Ubuntu', sans-serif;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn::before {
    top: -2px;
    left: 10px;
}

.btn::after {
    bottom: -2px;
    right: 10%;
}

.btn:hover::before {
    left: 80%;
}

.btn:hover::after {
    right: 80%;
}

/*Menu adaptée à la taille de l'écran*/
@media only screen and (max-width: 900px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header_navbar-toggle {
        display: flex;
        z-index: 1000;
    }
    .header_navbar-menu {
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #1c4c50;
        top: 0;
        left: 0;
    }

    .btn {
        margin: 40px 0;
        font-size: 20px;
        width: 160px;
        height: 50px;
    }

    .help-btn {
        margin: 40px 0;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

}

.save-msg {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    /*border:1px groove white;*/
    color: #fff;

    font-family: 'Ubuntu', sans-serif;
}