/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
File import form styles
*/


.import-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
}

.type_choice-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
}

#import-mc {
    width: 400px;
    height: 220px;
    overflow-y: scroll;
}

#input-mc {
    width: 340px;
    height: 200px;
    overflow-y: scroll;
}

#import_div {
    margin: 15px auto;
    height: 70px;
}

#add_input_type {
    max-width: 100px;
    position: relative;
    cursor: pointer;
}

#minus_input_type {
    max-width: 60px;
    right: -260px;
    top: -60px;
    position: relative;
    cursor: pointer;
}

