/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
loading.css : Defines the general style of the loading phases
Version 1.5.0
*/

/* Loading in progress */
#loading_div{
    display: none;
    margin-left: 250px;
    background-color: rgba(0, 0, 0, 0.85);
    width: calc(100% - 250px);
    height: calc(100vh - 70px);
    z-index: 49;
    position: absolute;
}

#loading_div_index{
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: calc(100vh - 70px);
  z-index: 49;
  position: absolute;
}

#loading_div_message{
  height: 100%;
  position: relative;
}

#loading_message{
  color: rgb(255, 255, 255);
  position: absolute;
  top: calc(50%);
  left: calc(50% + 40px);
  transform: translateX(-50%);
}

#download_symbol {
    display: none;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50%);
    width : 50px;
    height : 50px;
    z-index: 50;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #1c4c50;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1c4c50 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/* Loading completed */
#end-loading_div{
    margin-left: 250px;
    height: calc(100vh - 70px);
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    top: calc(50% - 70px);
    position: absolute;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}

.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}

.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
   }
    5% {
        transform: rotate(-45deg);
   }
    12% {
        transform: rotate(-405deg);
   }
    100% {
        transform: rotate(-405deg);
   }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
   }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
   }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
   }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
   }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
   }
}
