/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
Gestion du style des projets
*/

/*Affichage des projets*/

.display_projects {
  padding: 10px 20px;
  background:#ebf3f4;
}

/* Nom de projet */
#project_name{
  margin-top: 10px;
  height: 26px;
  width: 206px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Description de projet et scroll bar */
#description{
  width:207px;
  height: 80px;
  background-color:#286d7200;
  overflow-y: scroll;
  margin: 5px;
}

#description::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
#description::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #ffffff73;
}
#description::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
#description::-webkit-scrollbar-corner {
  background-color: transparent;
}



/*Création de projet - Affichage du formulaire*/

input, textarea {
  font: 1em sans-serif;
  width: 60%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #999;
  margin: 15px auto;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}