*{
    box-sizing: border-box;
}
.sidebar{
    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #256474;
  display: block;
}

.left-container{
    height: 100%;
    width: 250px;
    background: #1c4c50d7;
    position: absolute;
    top:70px;
    left:0;
    z-index: 2;
    padding-top: 3px
}

.text-side-project{
    padding-top: 15px;
    text-align: center;
    color: #ebf3f4;
    font-size: large;
}

.title-project{
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: #ebf3f4;
    font-size: 30px;

    font-family: 'Cantora One', sans-serif;
}

.infobulle{
    background:rgba(255, 255, 255, 0.651);
    display: none;
    color: black;
    padding:7px 15px; 
    border-radius:53px; 
    width:250px;
    font-size: small;
    word-break: break-all;

    font-family: 'Ubuntu', sans-serif;
}

.infobulle::after{
    content:""; 
    border-left:-20px solid transparent;
    border-right:-20px solid transparent;
    border-top: 20px solid #139ee0;
    position: absolute;
    word-break: break-all;

    font-family: 'Ubuntu', sans-serif;
}


.import-side{
    text-align: center;
    border-bottom: 3px solid #1c4c50d7;
}

.run-side{
    padding-top: 5px;
    text-align: center;
}

.imported-files{
    color: #fff;
    text-align: center;
    font-size: large;
    padding-top: 25px;

    font-family: 'Cantora One', sans-serif;
}

.files-list{
    color: #fff;
    text-align: center;
    font-size: medium;
    padding-bottom: 10px;
}

.tool-side{

}
.text-side{

}

/* Bouton selection outils */
.btn2 {
    font-size: 14px;
    height: 35px;
    padding-top: 0;
    margin: 0px;
    width: 250px;
    font-family: Roboto;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.btn2::after,
.btn2::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn2::before {
    top: -2px;
    left: 10px;
}

.btn2::after {
    bottom: -2px;
    right: 10%;
}

.btn2:hover::before {
    left: 80%;
}

.btn2:hover::after {
    right: 80%;
}

/* Bouton selection de l'action */
.btn3 {
    font-size: 14px;
    height: 35px;
    padding-top: 0;
    margin-top: 5px;
    width: 250px;
    font-family: Roboto;
    background: #1c4c507c;
    border: 1px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.btn3:hover{
    color: #000000;
    background-color: #fbfbfb8c;
}

.btn3::after,
.btn3::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.btn3::before {
    top: -2px;
    left: 10px;
}

.btn3::after {
    bottom: -2px;
    right: 10%;
}

.btn3:hover::before {
    left: 80%;
}

.btn3:hover::after {
    right: 80%;
}

/* Bouton de retour a l'index */
#back_to_index {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    font-family: Satisfy, cursive;
    background: #1c4c50;
    border: none;
    cursor: pointer;
}

/* Bouton validation */
#Validation{
    width: 100px;
    height: 30px;
    font-size: large;
}

#error_message{
    color: red;
    font-size: small;
}

/*  Selection de l'outil  */
#tool_list{
    z-index: 6;
    display:block;
    float:left;   
    width:220px;
    height: 40px;
    background-color:#286d72;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
    cursor: pointer;

    font-family: 'Ubuntu', sans-serif;
}

.select-box {
    z-index: 6;
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 0px;
    width: 250px;
    font-family: Roboto;
    font-size: 14px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.select-box::after,
.select-box::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.select-box::before {
    top: -2px;
    left: 10px;
}

.select-box::after {
    bottom: -2px;
    right: 10%;
}

.select-box:hover::before {
    left: 80%;
}

.select-box:hover::after {
    right: 80%;
}

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    z-index: 6;
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    padding-top: 7px;
}
.select-box__list {
    z-index: 6;
    position: absolute;
    top: -7px;
    left:255px;
    width: 290px;
    height: 90px;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
}

.select-box__option {
    z-index: 6;
    display: block;
    padding: 5px 15px;
    background-color: #56c49344;
}

.select-box__option:hover, .select-box__option:focus {
    color: #000000;
    background-color: #fbfbfb8c;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}
