*{
    box-sizing: border-box;
}
.sidebar{
    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #256474;
  display: block;
}

.left-container{
    height: 100%;
    width: 250px;
    background: #1c4c50d7;
    position: absolute;
    top:70px;
    left:0;
    z-index: 2;
    padding-top: 3px
}

.text-side-project{
    padding-top: 15px;
    text-align: center;
    color: #ebf3f4;
    font-size: large;
}




.infobulle{
    background:#139ee0;
    display: none;
    color:#fff;
    padding:7px 15px; 
    border-radius:53px; 
    width:250px;
    font-size: small;
}

.infobulle::after{
    content:""; 
    border-left:-20px solid transparent;
    border-right:-20px solid transparent;
    border-top: 20px solid #139ee0;
    position: absolute;
}


.import-side{
    text-align: center;
    border-bottom: 3px solid #1c4c50d7;
}

.imported-files{
    color: #fff;
    text-align: center;
    font-size: large;
}

.files-list{
    color: #fff;
    text-align: center;
    font-size: small;
}

.tool-side{

}
.text-side{

}