*{
    box-sizing: border-box;
}
.sidebar{
    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #256474;
  display: block;
}

.left-container{
    height: 100%;
    width: 250px;
    background: #1c4c50d7;
    position: absolute;
    top:70px;
    left:0;
    z-index: 10;
    padding-top: 60px
}

.text-side-project{
    text-align: center;
    color: #ebf3f4;
    font-size: large;
    

}
.text-side{

}