/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
gestion des bouttons d'outils
*/

/*  Selection de l'outil  */
#tool_list{
    z-index: 6;
    display:block;
    float:left;   
    width:220px;
    height: 40px;
    background-color:#286d72;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
    cursor: pointer;

    font-family: 'Ubuntu', sans-serif;
}

.select-box {
    z-index: 6;
    font-size: 17px;
    height: 35px;
    padding-top: 0;
    margin: 0px;
    width: 250px;
    font-family: Roboto;
    font-size: 14px;
    background: #1c4c50;
    border: 2px solid;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}

.select-box::after,
.select-box::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #1c4c50;
    transform: skewX(50deg);
    transition: .2s linear;
}

.select-box::before {
    top: -2px;
    left: 10px;
}

.select-box::after {
    bottom: -2px;
    right: 10%;
}

.select-box:hover::before {
    left: 80%;
}

.select-box:hover::after {
    right: 80%;
}

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    z-index: 6;
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    padding-top: 7px;
}
.select-box__list {
    z-index: 6;
    position: absolute;
    top: -7px;
    left:255px;
    width: 290px;
    height: 90px;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
}

.select-box__option {
    z-index: 6;
    display: block;
    padding: 5px 15px;
    background-color: #56c49344;
}

.select-box__option:hover, .select-box__option:focus {
    color: #000000;
    background-color: #fbfbfb8c;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}

#legend {
    width : 250px ;
    height :auto ;
    opacity: 0.6;
}