/* 
SAUVESTRE Clément / JACQUES Patrick / GOMES Enzo
Définit le style général du site ainsi que celui de chaque plugin
*/

body, html { 
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


/*Style de visugraph*/
#cy {
  top: 70px;
  left: 0px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.349);
  z-index: 5;
}
/*
.cy {
  background-color: #fff;
  z-index: 5;
  position: absolute;
  height: 30px;
  text-align: center;
  align-items: center;
  display: block;
}*/

.visu {
  top: 70px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.281);
  top:0;
  display: none;
}


#btn-vg {
  margin-left: 5px;
  cursor: pointer;
  background-color: #1c9099;
  border: none;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
