/* 
SAUVESTRE Clément / JACQUES Patrick / GOMES Enzo
Définit le style général du site ainsi que celui de chaque plugin
*/

body, html { 
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


/*Style de visugraph*/
#bouton_visu{
  top: 250px;
  height: 100%;
  width: 250px;
  position: absolute;
  bottom: 0;
  z-index: 5;
}


#cy {
  top:0px;
  left: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(253, 252, 252, 0.712);
  z-index: 5;
}

#display_window{
  z-index: 0;
} 

/*
.cy {
  background-color: #fff;
  z-index: 5;
  position: absolute;
  height: 30px;
  text-align: center;
  align-items: center;
  display: block;
}*/

.visu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.281);
  top:0px;
  display: none;
}


#btn-vg {
  margin-top: 5px;
}
