/* 
Thomas Baudeau / Gregory Bordier / Valentin Gomay / GOMES Enzo / JACQUES Patrick / SAUVESTRE Clément
Définit le style général du site ainsi que celui de chaque plugin
*/

.application {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.cy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
}

.export_canvas {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.zoom {
    position: absolute;
    z-index: 50;
    width : 50px;
    height : 50px;
    cursor: pointer;
}

#zoom_out {
    left : 65px;
}

#backward {
    left : 130px;
}

#check {
    left : 195px;
}

#cancel {
    left : 130px;
}